<include file='Public/header' />
<!DOCTYPE html>
<html>
<head>
	<title>edit</title>
</head>
<body>
	<form class="form-horizontal" role="form" action="__CONTROLLER__/edit/">
  <div class="form-group">
    <label for="firstname" class="col-sm-2 control-label">名字</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="id" value="{$data.id}" name="id" >
    </div>
  </div>
  <div class="form-group">
    <label for="lastname" class="col-sm-2 control-label">姓</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="请输入姓" name="name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox">请记住我
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">登录</button>
    </div>
  </div>
</form>
</body>
<script type="text/javascript">
	$(function () {
		$('.btn btn-default').on('click',function(){
			$('form').submit();
		});
		$('.btn btn-default btn-lg').on('click',function(){
			$('form')[0].reset();
		});
	});
</script>
</html>