<ul class="nav navbar-nav side-nav">

            <li class="active"><a href="__MODULE__/Examine/lst"><i class="fa fa-dashboard"></i> 审查答辩题目</a></li>
            <li><a href="__MODULE__/Index/index"><i class="fa fa-file"></i> 下载指导学生开题PPT</a></li>
            <li><a href="__MODULE__/Presentation/lst"><i class="fa fa-bar-chart-o"></i> 下载指导学生开题报告</a></li>
            <li><a href="__MODULE__/Defense/lst"><i class="fa fa-table"></i> 下载指导学生答辩PPT</a></li>
            <li><a href="__MODULE__/Paper/lst"><i class="fa fa-edit"></i> 下载指导学生论文</a></li>
            <li><a href="__MODULE__/ResultsIndex/lst"><i class="fa fa-desktop"></i> 上传开题成绩</a></li>
            <li><a href="__MODULE__/ResultsDefense/lst"><i class="fa fa-font"></i> 上传答辩成绩</a></li>
            <li><a href="__MODULE__/Results/lst"><i class="fa fa-wrench"></i> 查看指导学生状态及成绩</a></li>
           
            
          </ul> 