<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>指导老师页面</title>

    <!-- Bootstrap core CSS -->
    <link href="__PUBLIC__/css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="__PUBLIC__/css/sb-admin.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/font-awesome/css/font-awesome.min.css">
    <!-- Page Specific CSS -->
    <link rel="stylesheet" href="__PUBLIC__/css/morris-0.4.3.min.css">
  </head>

  <body>

    <div id="wrapper">

  <include file='Common/top'/>

		
      <div id="page-wrapper">

        <div class="row">

          <div class="col-lg-12">
            <h1>上传<small>答辩成绩</small></h1>
            <ol class="breadcrumb">
              <li class="active"></li>
            </ol>
            
          </div>
        </div><!-- /.行  -->

        <div class="row">
          
          </div>
          
          
        </div><!-- /.row -->

        <div class="col-lg-1">
           </div>

        
          <div class="col-lg-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-clock-o"></i> 上传答辩成绩</h3>
              </div>
              <div class="panel-body">
                <div class="list-group">
                 

<form method="post" class="form-horizontal" action="">
  <input type="hidden" name="id" value="{$paper_student.id}">

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号</label>
    <div class="col-sm-5">
      <p class="form-control-static">{$paper_student.id}</p>
                                 
                                
      <!-- <input type="id" class="form-control" id="id" name="id" value="{$paper_student.id}"> -->
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
    <div class="col-sm-5">
      <p class="form-control-static">{$paper_student.name}</p>

                                
                                
      <!-- <input type="name" class="form-control" id="name" name="name" value="{$paper_student.name}"> -->
    </div>
  </div>
   <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">指&nbsp;导&nbsp;老&nbsp;师</label>
    <div class="col-sm-5">
      <input type="score3" class="form-control" id="score3" name="score3">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">答辩委员会</label>
    <div class="col-sm-5">
      <input type="score4" class="form-control" id="score4" name="score4">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-5">
      <button type="submit" class="btn btn-primary">
       <i class="fa fa-gear"></i>
         确定</button>
    </div>
  </div>
</form>






             
                  
                </div>
               
              </div>
            </div>
          </div>
         
        </div><!-- /.row -->

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- JavaScript -->
    <script src="__PUBLIC__/js/jquery-1.10.2.js"></script>
    <script src="__PUBLIC__/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->    <script src="__PUBLIC__/js/raphael-min.js"></script>
    <script src="__PUBLIC__/js/morris-0.4.3.min.js"></script>
    <script src="__PUBLIC__/js/morris/chart-data-morris.js"></script>
    <script src="__PUBLIC__/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="__PUBLIC__/js/tablesorter/tables.js"></script>

  </body>
</html>
