 <!-- JavaScript -->
    <script src="__ADMIN__/js/jquery-1.10.2.js"></script>
    <script src="__ADMIN__/js/bootstrap.js"></script>

    <!-- Page Specific Plugins -->    <script src="__ADMIN__/js/raphael-min.js"></script>
    <script src="__ADMIN__/js/morris-0.4.3.min.js"></script>
    <script src="__ADMIN__/js/morris/chart-data-morris.js"></script>
    <script src="__ADMIN__/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="__ADMIN__/js/tablesorter/tables.js"></script>

  </body>
</html>
